<header>
  <div class="logo">
    <a
      href="javascript:void(0)"
      (click)="goToSection('home')"
      class="home-link"
    >
      <h1>Ed<span>win.</span></h1>
    </a>
  </div>

  <!-- Hamburger Menu Button -->
  <div class="menu-toggle" [class.active]="isMenuActive" (click)="toggleMenu()">
    <i class="bx bx-menu"></i>
      <i class="bx bx-x"></i>
  </div>

  <!-- Navigation container with links -->
  <div class="nav-container" [class.active]="isMenuActive">
    <!-- Nav Links -->
    <nav>
      <a
        *ngFor="let item of navItems"
        href="javascript:void(0)"
        (click)="handleNavClick(item.id)"
        class="{{ item.id }}-link"
      >
        {{ item.label | translate }}
      </a>
    </nav>

    <!-- Language Selector Component -->
    <app-language-selector [color]="'white'"></app-language-selector>

    <!-- Contact Me Button -->
    <div class="contact-button" *ngIf="showContactButton">
      <a
        href="javascript:void(0)"
        (click)="handleNavClick('contact')"
        class="contact-link"
      >
        {{ "HEADER.CONTACT_BUTTON" | translate }}
      </a>
    </div>
  </div>
</header>
