header {
  background-color: rgba(3, 77, 58, 0.3);
  backdrop-filter: blur(10px);
  color: rgb(220, 220, 220);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Monomaniac One", sans-serif;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;

  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo a {
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}

.logo:hover {
  transform: scale(1.12);
  transition: all 0.3s ease;
}

.logo h1 {
  font-family: "Monomaniac One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 28px;
}

.logo span {
  background: linear-gradient(270deg, #d5dd6b 10%, #408d4f 100%);
  background-clip: text;
  color: transparent;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 90px;
  flex-grow: 1;
}

nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav a {
  color: rgb(220, 220, 220);
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.2s ease;
  transition: 0.3s ease;
}

.contact-button {
  margin-left: 20px;
}

.contact-link {
  background: linear-gradient(270deg, #81b30c 40%, #30630d 100%);
  color: white;
  padding: 8px 30px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: none;
  text-wrap: nowrap;
  display: inline-block;
}

.contact-link:hover {
  background-color: #d5dd6b;
  transform: scale(1.03);
  transition: all 0.3s ease;
  color: var(--second-bg-color);
  font-weight: 500;
}

// Hover blur all links except the hovered one
nav:hover a {
  opacity: 0.3;
  filter: blur(1px);
  transition: all 0.3s ease;
}

// Hover standout specific link
nav a:hover {
  opacity: 1;
  filter: blur(0);
  //color: #e7e7e7;
  transform: scale(1.2);
  color: #d5dd6b;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1001;
}

.menu-toggle i {
  font-size: 30px;
  color: white;
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
}

.menu-toggle .bx-x {
  opacity: 0;
  transform: scale(0.5);
}

.menu-toggle.active .bx-menu {
  opacity: 0;
  transform: scale(0.5);
}

.menu-toggle.active .bx-x {
  opacity: 1;
  transform: scale(1);
}

/* Hamburger active state (X shape) */
.menu-toggle.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
}

/* Adjustments for screens up to 1024px */
@media (max-width: 1024px) {
  nav a {
    margin: 20px 10px;
    font-size: 16px;
  }

  .contact-link {
    padding: 8px 20px;
    font-size: 16px;
  }
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  header {
    padding: 0 15px;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-container {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(2, 26, 20, 0.9);
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .nav-container.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  nav {
    flex-direction: column;
    width: 100%;
  }

  nav a {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  .contact-button {
    margin: 15px 0 5px 0;
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .contact-link {
    width: 100%;
    text-align: center;
  }
}

/* For very small screens */
@media (max-width: 350px) {
  .logo h1 {
    font-size: 24px;
  }

  header {
    padding: 0 10px;
  }
}
