<div>
  <!-- ABOUT -->
  <section id="about">
    <div class="aboutparent">
      <div class="aboutchild">
        <div class="image-container">
          <img src="assets/images/cartoon.png" alt="Edwin Nuñez" />
          <div class="rotating-border">
            <div class="border-circle"></div>
            <div class="border-circle"></div>
            <div class="glow"></div>
          </div>
        </div>
      </div>

      <div class="aboutchild">
        <h3>ABOUT <span>ME</span></h3>
        <p>
          I'm Edwin Nuñez, a front-end developer, dedicated to craft marvelous,
          responsive, user-friendly applications that drive engagement and
          growth to your projects.
        </p>

        <!-- Experience Number -->
        <div class="experience-numbers">
          <div class="experience-block">
            <h3>2+</h3>
            <p>Years of Experience in Development</p>
          </div>

          <div class="experience-block">
            <h3>10+</h3>
            <p>Successful Projects Completed</p>
          </div>

          <div class="experience-block">
            <h3>10+</h3>
            <p>Global Customers</p>
          </div>
        </div>

        <!-- Download CV and Social Media -->
        <div class="download-social-container">
          <div class="downloadButton" (click)="downloadCV()">
            <span>Download CV</span>
            <img src="assets/images/download_icon.png" alt="download icon" />
          </div>

          <div class="social-icons">
            <a
              href="https://www.linkedin.com/in/edwin-nu%C3%B1ez-lpt-0a2856126/"
              target="_blank"
              class="social-icon"
            >
              <img src="assets/images/linkedin_icon.png" alt="LinkedIn" />
            </a>

            <a
              href="https://meinedwenie.github.io/portfolio/"
              target="_blank"
              class="social-icon"
            >
              <img src="assets/images/github_icon.png" alt="GitHub" />
            </a>

            <a
              href="https://uk.pinterest.com/meineDwenie/"
              target="_blank"
              class="social-icon"
              class="social-icon"
            >
              <img src="assets/images/pinterest_icon.png" alt="Twitter" />
            </a>

            <a
              href="https://www.instagram.com/emptysheetstories/"
              target="_blank"
              class="social-icon"
            >
              <img src="assets/images/instagram_icon.png" alt="Instagram" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
