<div>
  <!-- ABOUT -->
  <section id="about">
    <div class="aboutparent">
      <div class="aboutchild">
        <div class="image-container">
          <img src="assets/images/cartoon.png" alt="Edwin Nuñez" />
          <div class="rotating-border">
            <div class="border-circle"></div>
            <div class="border-circle"></div>
            <div class="glow"></div>
          </div>
        </div>
        <div class="blob"></div>
        <!-- BLOB -->
      </div>

      <!-- RIGHT SIDE-->
      <div class="aboutchild">
        <h3>ABOUT <span>ME</span></h3>
        <h4>"From chalkboard to keyboard"</h4>
        <p class="about-text">
          Formerly a licensed English teacher, now I am bringing my passion of
          creating <span>fresh ideas, strong communication skills</span>, and a
          deep focus on creating <span>user-friendly digital experience</span>
          into the tech-world. Skilled in leveraging technology to enhance
          learning and engagement, with a proven ability to adapt across
          cultures and a commitment to continuous growth and innovation.
        </p>

        <!-- Experience Number -->
        <div class="experience-numbers">
          <div class="experience-block">
            <h3>2+</h3>
            <p>Years of Experience in Development</p>
          </div>

          <div class="experience-block">
            <h3>10+</h3>
            <p>Successful Projects Completed</p>
          </div>

          <div class="experience-block">
            <h3>200</h3>
            <p>Code <br />Commits</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
