<div>
  <!-- EXPERIENCE -->
  <section id="experience">
    <div class="experience-parent" style="background-color: #142820">
      <h3>CHECK MY <span>EXPERIENCE</span> & EDUCATION</h3>

      <div class="container">
        <!-- Experience -->
        <div class="column experience-column">
          <h4>Experience</h4>
          <div *ngFor="let exp of experience" class="item">
            <div class="years">{{ exp.years }}</div>
            <div class="details">
              <div class="position">{{ exp.position }}</div>
              <div class="company">{{ exp.company }}</div>
            </div>
          </div>
        </div>

        <!-- Education -->
        <div class="column education-column">
          <h4>Education</h4>
          <div *ngFor="let edu of education" class="item">
            <div class="years">{{ edu.years }}</div>
            <div class="details">
              <div class="course">{{ edu.course }}</div>
              <div class="school">{{ edu.school }}</div>
            </div>
          </div>
        </div>

        <!-- Image Column -->
        <div class="column image-column">
          <img src="assets/images/astro.png" alt="Astro sketch" />
        </div>
      </div>
    </div>
  </section>
</div>
