<div>
  <!-- EXPERIENCE -->
  <section id="experience">
    <div class="experience-parent" style="background-color: #142820">
      <h3>CHECK MY <span>EXPERIENCE</span></h3>

      <div class="exp-container">
        <div class="exp-block">
          <h6>2014-2018</h6>
          <h5>Student Assistant</h5>
          <p>
            Cebu Normal University, Center for Testing, Evaluation and
            Development
          </p>
        </div>

        <div class="exp-block">
          <h6>2017-2019</h6>
          <h5>ESL Tutor</h5>
          <p>QQ English Seafront Campus, Online-Offline English Teaching</p>
        </div>

        <div class="exp-block">
          <h6>2019 - 2022</h6>
          <h5>English Language Assistant</h5>
          <p>Spanish Ministry of Education (Murcia Region)</p>
        </div>

        <div class="exp-block">
          <h6>2023 - 2025</h6>
          <h5>Multiplatform Application Development</h5>
          <p>IES Alfonso X El Sabio, Murcia, Spain</p>
        </div>

        <div class="exp-block">
          <h6>2025 - Present</h6>
          <h5>Front-End Development On-the-job Training</h5>
          <p>NEORIS</p>
        </div>
      </div>
    </div>
  </section>
</div>
