<!-- CONTACT  SECTION -->
<section id="contact">
  <div class="contact-parent" style="background-color: #142820">
    <h3 [innerHTML]="'CONTACT.HEADING' | translate"></h3>

    <div class="contact-content">
      <!-- Image Container -->
      <div class="contact-image-container">
        <img src="assets/images/contact-foto.png" alt="Contact-photo" />
      </div>

      <!-- Form Container -->
      <div class="contact-form-container">
        <div class="container">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-75">
                <input
                  type="text"
                  formControlName="name"
                  [placeholder]="'CONTACT.PLACEHOLDERS.NAME' | translate"
                  required
                />
              </div>
            </div>

            <div class="row">
              <div class="col-75">
                <input
                  type="email"
                  formControlName="email"
                  [placeholder]="'CONTACT.PLACEHOLDERS.EMAIL' | translate"
                  required
                />
              </div>
            </div>

            <div class="row">
              <div class="col-75">
                <select
                  formControlName="service"
                  [ngClass]="{
                    'placeholder-shown':
                      contactForm.get('service')?.value === ''
                  }"
                  required
                >
                  <option value="" disabled>
                    {{ "CONTACT.PLACEHOLDERS.SERVICE_SELECT" | translate }}
                  </option>
                  <option
                    *ngFor="let service of services"
                    [value]="service.value"
                  >
                    {{ "CONTACT.SERVICES." + service.key | translate }}
                  </option>
                </select>
              </div>
            </div>

            <!-- Subject field only shown if 'Other' service is selected -->
            <div
              class="row"
              *ngIf="contactForm.get('service')?.value === 'Other'"
            >
              <div class="col-75">
                <input
                  type="text"
                  formControlName="subject"
                  [placeholder]="'CONTACT.PLACEHOLDERS.SUBJECT' | translate"
                  required
                />
              </div>
            </div>

            <div class="row">
              <div class="col-75">
                <textarea
                  formControlName="message"
                  [placeholder]="'CONTACT.PLACEHOLDERS.MESSAGE' | translate"
                  style="height: 200px"
                  required
                ></textarea>
              </div>
            </div>

            <div class="row">
              <button
                type="submit"
                [disabled]="contactForm.invalid || isSubmitting"
              >
                {{
                  isSubmitting
                    ? ("CONTACT.BUTTON.SENDING" | translate)
                    : ("CONTACT.BUTTON.SEND_INQUIRY" | translate)
                }}
              </button>
            </div>

            <p *ngIf="isSent">{{ "CONTACT.SUCCESS_MESSAGE" | translate }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
