<div>
  <!-- ABOUT -->
  <section id="about">
    <div class="aboutparent">
      <div class="aboutchild">
        <div class="image-container">
          <img src="assets/images/cute.png" alt="Edwin Nuñez" />
          <div class="rotating-border">
            <div class="border-circle"></div>
            <div class="border-circle"></div>
            <div class="glow"></div>
          </div>
        </div>
        <div class="blob"></div>
        <!-- BLOB -->
      </div>

      <!-- RIGHT SIDE-->
      <div class="aboutchild">
        <h3 [innerHTML]="'ABOUT.TITLE_HTML' | translate"></h3>
        <h4>{{ "ABOUT.QUOTE" | translate }}</h4>
        <p
          class="about-text"
          [innerHTML]="'ABOUT.DESCRIPTION_HTML' | translate"
        ></p>

        <!-- Experience Number -->
        <div class="experience-numbers">
          <div class="experience-block">
            <h3>{{ "ABOUT.EXPERIENCE.YEARS" | translate }}</h3>
            <p>{{ "ABOUT.EXPERIENCE.YEARS_TEXT" | translate }}</p>
          </div>

          <div class="experience-block">
            <h3>{{ "ABOUT.EXPERIENCE.PROJECTS" | translate }}</h3>
            <p>{{ "ABOUT.EXPERIENCE.PROJECTS_TEXT" | translate }}</p>
          </div>

          <div class="experience-block">
            <h3>{{ "ABOUT.EXPERIENCE.COMMITS" | translate }}</h3>
            <p>{{ "ABOUT.EXPERIENCE.COMMITS_TEXT" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
