<section id="skills" class="skills-parent">
  <h3>
    DISCOVER MY
    <!-- <span>{{ activeTab === "hard" ? "HARD" : "SOFT" }}</span> -->
    <span>SKILLS</span>
  </h3>

  <div class="skills-columns">
    <!-- LEFT COLUMN -->
    <div class="skills-left">
      <h4>Why hire me?</h4>

      <p>
        I'm a passionate & resilient developer with a proven ability to solve
        problems, adapt to new technologies, and working collaboratively —
        always driven by a hunger for continuous learning and growth.
      </p>

      <div class="skills-buttons">
        <button
          (click)="switchTab('hard')"
          [class.active]="activeTab === 'hard'"
        >
          Hard Skills
        </button>
        <!-- <button
          (click)="switchTab('soft')"
          [class.active]="activeTab === 'soft'"
        >
          Soft Skills
        </button> -->
      </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="skills-right">
      <!-- Hard Skills Cards -->
      <div *ngIf="activeTab === 'hard'" class="skills-container">
        <div class="skills-card" *ngFor="let skill of hardSkills">
          <div class="skills-card-inner">
            <div class="skills-card-front">
              <img [src]="skill.icon" [alt]="skill.name" />
            </div>
            <div class="skills-card-back">
              <h5>{{ skill.name }}</h5>
              <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="skill.level"></div>
              </div>
              <p class="percentage">{{ skill.level }}%</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Soft Skills List -->
      <!-- <ul *ngIf="activeTab === 'soft'" class="soft-skills-list">
        <li *ngFor="let soft of softSkills">{{ soft }}</li>
      </ul> -->
    </div>
  </div>
</section>
