<div>
  <!-- SKILLS -->
  <section id="skills">
    <div class="skills-parent" style="background-color: #142820">
      <h3>DISCROVER MY <span>SKILLS</span></h3>

      <!-- Skills blocks -->
      <div class="skills-container">
        <div class="skills-block">
          <img src="assets/images/html_icon.png" alt="GitHub" />
          <h5>HTML</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/css_icon.png" alt="GitHub" />
          <h5>CSS</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/responsive_icon.png" alt="GitHub" />
          <h5>Responsive Design</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/javascript_icon.png" alt="GitHub" />
          <h5>JavaScript</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/angular_icon.png" alt="GitHub" />
          <h5>Angular</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/unity_icon.png" alt="GitHub" />
          <h5>Unity</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/figma_icon.png" alt="GitHub" />
          <h5>Figma</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/android_studio_icon.png" alt="GitHub" />
          <h5>Android Studio</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/bootstrap_icon.png" alt="GitHub" />
          <h5>Bootstrap</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/typescript_icon.png" alt="GitHub" />
          <h5>TypeScript</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="skills-block">
          <img src="assets/images/dotnet_icon.png" alt="GitHub" />
          <h5>Dot NET</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </section>
</div>
