<section id="home">
  <div class="homeparent">
    <div class="home-content" style="background-color: #142820">
      <h1>Hello, It's <span class="name">Edwin</span></h1>
      <h3>I'm a <span class="typed-text"></span></h3>

      <!-- Descriptive Words -->
      <div class="desc-container">
        <span class="desc">Adaptable</span>
        <span class="desc">Detail-oriented</span>
        <span class="desc">Effective Communicator</span>
      </div>
    </div>

    <div class="child-image-container">
      <img src="assets/images/cartoon.png" alt="cartoonME" />
    </div>
  </div>
</section>
