<div>
  <!--HOME-->
  <section id="home">
    <div class="homeparent">
      <div class="child" style="background-color: #142820">
        <h2>EDWIN NUÑEZ</h2>
        <h1>FRONT-END DEVELOPER</h1>

        <!-- Descriptive Words -->
        <div class="desc-container">
          <span class="desc">Detail-oriented</span>
          <span class="desc">Adaptable</span>
          <span class="desc">Effective Communicator</span>
        </div>
      </div>

      <div class="child" style="background-color: #142820">
        <div class="child-image-container">
          <div class="child-image-blur"></div>
          <img src="assets/images/cartoon.png" alt="cartoonME" />
        </div>
      </div>
    </div>
  </section>
</div>
