<!-- WORKS -->
<section id="works" class="works-section">
  <div class="works-wrapper">
    <h3>EXPLORE MY <span>WORKS</span></h3>

    <div class="work-panels">
      <!-- LEFT PANEL-->
      <div class="works-details">
        <div class="work-counter">
          0{{ currentIndex + 1 }} <span>/ 0{{ works.length }}</span>
        </div>

        <!-- Group 1: Titles & Description -->
        <div class="work-main">
          <h4>{{ currentWork.category }}</h4>
          <h5>{{ currentWork.title }}</h5>
          <p class="description">{{ currentWork.description }}</p>
        </div>

        <!-- Group 2: Tech and Divider and Buttons -->
        <div class="tech-buttons">
          <!-- Group 2.1: Tech and Divider -->
          <div class="work-meta">
            <p class="tech">{{ currentWork.tech }}</p>
            <hr />
          </div>

          <!-- Group 2.2: Buttons -->
          <div class="action-buttons">
            <!-- View Button -->
            <a
              *ngIf="currentWork.link"
              [href]="currentWork.link"
              target="_blank"
              class="btn btn-outline-light"
            >
              <i class="bi bi-box-arrow-up-right"></i> View
            </a>

            <!-- GitHub Button -->
            <a
              *ngIf="currentWork.github"
              [href]="currentWork.github"
              target="_blank"
              class="btn btn-outline-light"
            >
              <i class="bi bi-github"></i> GitHub
            </a>

            <!-- Figma Button -->
            <a
              *ngIf="currentWork.figma"
              [href]="currentWork.figma"
              target="_blank"
              class="btn btn-outline-light"
            >
              <i class="bi bi-easel"></i> Figma
            </a>
          </div>
        </div>
      </div>

      <!-- RIGHT PANEL -->
      <div class="works-image-container">
        <div class="img-container">
          <img
            [src]="currentWork.image"
            [alt]="currentWork.title"
            class="work-img"
          />
        </div>

        <div class="nav-buttons">
          <button (click)="prevWork()" class="btn btn-light"><</button>
          <button (click)="nextWork()" class="btn btn-light">></button>
        </div>
      </div>
    </div>
  </div>
</section>
