.works-section {
  display: flex;
  justify-content: center; //center
  align-items: center;
  padding: 5.5rem 0;
  min-height: 100vh;
  background: linear-gradient(#121a17); // Dark background for contrast
}

.works-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  max-width: 100%;
  margin: 0;
  flex-wrap: wrap;
}

.work-panels {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.works-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 500px;
  width: 500px;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%; /* Ensures it spans full height to distribute space */
  padding: 1rem 0;
}

.tech-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  margin-top: 3rem;
  padding: 0;
}

// FONTS
.work-counter {
  font-family: "Train One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  opacity: 0.8;
}

.work-counter span {
  font-family: "Cascadia Code", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

h3 {
  margin: 20px 0 20px;
  font-size: 40px;
}

h4 {
  color: #5bd46b;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: left;
}

h5 {
  font-size: 1.1rem;
  margin: 0;
  justify-content: left;
  text-align: left;
  max-width: 500px;
}

p {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  text-align: left;
  opacity: 0.9;
  padding: 0;
  margin-top: 6px;
}

.tech {
  color: #d5dd6b;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  opacity: 1 !important;
  margin: 0;
  padding: 0;
  font-family: "Cascadia Code", sans-serif;
}

hr {
  border-color: #e5ebe6;
  margin: 1.5rem 0;
  opacity: 0.5;
}

.action-buttons {
  display: flex;
  gap: 1rem;
}

.works-image-container {
  flex: 1;
  position: relative;
  text-align: center;
  min-width: 950px;
  max-width: 950px;
  max-height: 630px;
  width: 100%;
  height: 680px; // Fixed height for consistency
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.work-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-buttons {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-buttons button {
  padding: 0.5rem 1rem;
}

.action-buttons .btn {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1.1rem;
  background-color: rgba(38, 85, 65, 0.7);
  border-radius: 12px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.action-buttons .btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(88, 94, 4, 0.2) 0%,
    rgba(20, 40, 32, 0) 70%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.action-buttons .btn:hover {
  transform: translateY(2px);
  border: 1px solid #5bd46b;
  box-shadow: 0 6px 12px rgba(213, 221, 107, 0.4);
  background-color: rgba(38, 85, 65, 0.9);
  cursor: pointer;
}

.nav-buttons .btn {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1.1rem;
  background-color: #d5dd6b;
  border-radius: 12px;
  border: 1x solid #30630d;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  opacity: 0.9;
}

.nav-buttons .btn:hover {
  background-color: #eaf371;
  opacity: 1;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.work-main,
.work-meta {
  width: 100%;
}

/******************************************* 
              RESPONSIVENESS
******************************************/

/* LAPTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .works-section {
    padding: 4rem 2rem;
  }

  .works-wrapper {
    gap: 1rem;
  }

  .works-image-container {
    min-width: 590px;
    max-width: 590px;
    height: 410px;
    padding: 0;
    gap: 6px;
  }

  .works-details {
    width: 450px;
  }

  // FONTS
  h3 {
    font-size: 30px;
    margin: 20px 0 0 0;
  }

  .work-counter {
    font-size: 2rem;
  }

  .work-counter span {
    font-size: 1rem;
  }

  h3 {
    margin: 0;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  .tech {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  .tech-buttons {
    margin: 1.5rem 0 0 0;
    padding: 0;
    gap: 0;
  }

  hr {
    margin: 1.3rem 0;
  }

  .nav-buttons {
    margin-top: 1rem;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
  }

  .nav-buttons button {
    padding: 0.1px 1rem;
  }

  .action-buttons .btn {
    font-size: 0.8rem;
    padding: 0.5rem 1.1rem;
    gap: 10px;
  }

  .nav-buttons .btn {
    font-size: 0.8rem;
    padding: 0.5rem 1.1rem;
    gap: 10px;
  }
}

/* TABLETS */
@media screen and (max-width: 992px) {
  .work-panels {
    flex-direction: column;
    align-items: center;
  }

  .works-details {
    width: 100%;
    min-width: auto;
    padding: 1rem 2rem;
  }

  .works-image-container {
    width: 100%;
    min-width: auto;
    max-width: 100%;
    height: auto;
  }

  .img-container {
    height: auto;
  }

  .work-img {
    height: auto;
    max-height: 400px;
  }

  .nav-buttons {
    justify-content: center;
  }

  .tech-buttons {
    margin-top: 2rem;
  }
}

/* MOBILE PHONES */
@media screen and (max-width: 768px) {
  .works-section {
    padding: 3.5rem 1.5rem;
  }

  .works-wrapper {
    gap: 0 !important;
  }

  .works-wrapper h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
  }

  .works-details {
    padding: 1rem;
  }

  .work-panels {
    flex-direction: column-reverse;
    gap: 0;
  }

  p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  hr {
    width: 100%;
    margin: 14px 0 8px;
  }

  .tech {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }

  .work-counter {
    font-size: 2rem;
  }

  .work-counter span {
    font-size: 0.9rem;
  }

  .works-image-container {
    width: 100%;
    height: 350px; /* Fixed height */
    min-height: 350px;
    max-height: 380px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: none;

    border-radius: 10px;
    position: relative;
  }

  .img-container {
    width: 100%;
    height: 250px; /* Fixed height */
    min-height: 250px;
    max-height: 280px;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .nav-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
  }

  .nav-buttons .btn {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    font-size: 16px;
    padding: 0.3rem 1rem;
    margin: 0;
  }

  .action-buttons {
    flex-direction: row;
    align-items: stretch;
    width: calc(50% - 1rem); /* Full width minus some margin */
  }

  .action-buttons .btn {
    justify-content: center;
    font-size: 0.9rem;
  }
}
