<div>
  <!-- WORKS -->
  <section id="works">
    <div class="works-parent" style="background-color: #142820">
      <h3>EXPLORE MY <span>WORKS</span></h3>

      <div>
        <h4>Mobile Apps</h4>

        <div class="works-container">
          <!-- NAB CLUB -->
          <div class="works-block">
            <div class="works-img-container">
              <img
                src="assets/images/nabclub.png"
                alt="NabCLub Sticker Store"
              />
            </div>

            <div class="works-info">
              <h5>Nab Club Sticker Store</h5>
              <p>Java and JavaFX</p>
              <a href="#" class="project-link">View Details</a>
            </div>
          </div>

          <!-- SENECDATES -->
          <div class="works-block">
            <div class="works-img-container">
              <img
                src="assets/images/senecdates.png"
                alt="SenecDates Dating App"
              />
            </div>

            <div class="works-info">
              <h5>Senecdates Dating App</h5>
              <p>Unity and C#</p>
              <a href="#" class="project-link">View Details</a>
            </div>
          </div>

          <!-- SPRINTER -->
          <div class="works-block">
            <div class="works-img-container">
              <img src="assets/images/sprinter.png" alt="Sprinter Mobile App" />
            </div>

            <div class="works-info">
              <h5>Sprinter App Reimagined</h5>
              <p>Figma Design</p>
              <a href="#" class="project-link">View Details</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h4>Websites</h4>

        <div class="works-container">
          <!-- SMOOTHIE -->
          <div class="works-block-web">
            <div class="works-img-container">
              <img
                src="assets/images/smoothie.png"
                alt="Smoothie Online Menu"
              />
            </div>

            <div class="works-info">
              <h5>Smoothie Online Menu</h5>
              <p>
                A responsive website showcasing a premium smoothie shop's menu
                with online ordering capabilities.
              </p>
              <a href="#" class="project-link">Visit Site</a>
            </div>
          </div>

          <div class="works-block-web">
            <div class="works-img-container">
              <img src="assets/images/fruitapi.png" alt="Instagram" />
            </div>

            <!-- FRUITAPI -->
            <div class="works-info">
              <h5>Fruitapi Online Menu</h5>
              <p>
                An interactive web application that provides nutritional
                information for various fruits through a clean API interface.
              </p>
              <a href="#" class="project-link">Visit Site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
